.container {
  height: 300px;
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ffff;
  margin-top: 20px;
  border-radius: 4px;
}

.title {
  margin-top: 20px;
}

.title p {
  color: mediumslateblue;
}

.surprise-me {
  height: 25px;
  width: 100px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: mediumslateblue;
  font-weight: bold;
  margin-bottom: 10px;
}

.change-buttons {
  display: flex;
  width: 50px;
  justify-content: space-between;
}
.change-buttons button {
  color: mediumslateblue;
  border: none;
  background: none;
  font-size: 25px;
}

.icon {
  color: mediumslateblue;
}
.profile {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  left: 32%;
  bottom: 70%;
  background-color: mediumslateblue;
}

.profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  right: 5px;
  top: 2px;
}
